@charset "utf-8";

/*
    Paletas de cores
    azul: #266DD3
    rosaEs: #C52184
    rosaCL: #E574BC
    roxo: #251F47
*/

:root{
    --azul: #266DD3;
    --rosaEs: #C52184;
    --rosaCL: #E574BC;
    --roxo: #251F47;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


body, html{
    background-image: url(../img/wllpp-telamobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
}
section{
    margin: 20px;
}
main{
    position: relative;
    width: 100vw;
    height: 97vh;
}
#login{
    position: absolute;
    top: 100px;
    right: 90px;

    width: 270px;
    height: 500px;
    background-color: white;
}
#formulario{
    padding: 90px;
    text-align: center;
}
input{
    margin: 10px;
}