@charset "utf-8";

/*
    Paletas de cores
    azul: #266DD3
    rosaEs: #C52184
    rosaCL: #E574BC
    roxo: #251F47
*/

:root{
    --azul: #266DD3;
    --rosaEs: #C52184;
    --rosaCL: #db64b0;
    --roxo: #251F47;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


body, html{
    background-image: linear-gradient(to bottom, #251F47, #266DD3 50%);
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login{
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);

    background-color: var(--roxo);
    color: var(--rosaCL);
    width: 280px;
    height: 380px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 8px 5px 2px #C52184;
}
div#formulario{
    display: block;
    padding: 10px;
    line-height: 55px;
    text-align: center;
}
input{
    margin: 10px;
}

.btn{
    
}