@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*
    Paletas de cores
    azul: #266DD3
    rosaEs: #C52184
    rosaCL: #E574BC
    roxo: #251F47
*/

:root{
    --principal: #0496FF;
    --secundaria: #027bce;
    --terceira: #4BB3FD;
    --constraste: #A9FDAC;
    --preto: #1A181B;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}


body, html{
    background-image: linear-gradient(135deg, #283F3B 10%, #556F44, #659B5E, #95BF74);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
div#formulario{
    display: block;
    background-color: #6f0b40;
    box-shadow: 8px 5px 2px var(--preto);
    width: 340px;
    border-radius: 20px;
    margin-top: 8px;
    line-height: 40px;
    text-align: center;
}
div h1{
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
    color: #95BF74;
}
div p{
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    color: #659B5E;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
}
.input-box input{
    margin: 10px;
    width: 95%;
    height: 35px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: rgba(255, 255, 255, 0.8);
}
.input-box i{
    position: absolute;
    right: 27%;
}







/*form{
    line-height: 50px;
}
label{
    color: #659B5E;
    font-weight: bold;
}
input{
    cursor: pointer;
    padding-left: 5px;
    font-size: 12px;
    border-color: darkgreen;
}
input.labels{
    border-radius: 10px;
}
input.btn{
    width: 120px;
    border-radius: 30px;
    padding: 3px;
    font-size: 15px;
}
div p#final{
    color: #95BF74;
    margin-top: 10px;
    font-size: 0.9em;
    cursor: pointer;
}
p#final:hover{
    text-decoration: underline;
}*/